.popup__container {
    background-color: rgb(255, 255, 255);
    width: 430px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: auto;
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: 282px;
    }
}