.profile {
    margin: 0 auto;
    max-width: 880px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 150px auto auto auto;
    grid-template-rows: 40px 40px 40px;
    grid-template-areas:
        'avatar box box btn'
        'avatar box box btn'
        'avatar status editor btn';
    align-items: center;
}
@media screen and (max-width: 660px) {
    .profile {
        grid-template-columns: repeat( 4, 1fr);
        grid-template-rows: 114px;
        grid-template-areas:
        '. avatar avatar .'
        ' box box box box '
        'status status status status'
        ' btn btn btn btn';
        align-items: center;
        padding-top: 42px;
    }

}