.elements__like{
    height: 19px;
    width: 22px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-image: url("../../../images/heart.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: rgb(255, 255,255);
    margin-right: 30px;
}

.elements__like:hover {
    opacity: 0.5;
}

