.profile__editor {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    margin-top: 13px;
    margin-left: 18px;
    padding: 7px;
    cursor: pointer;
    grid-area: editor;
}

.profile__editor:hover {
    opacity: 0.6;
}


@media screen and (max-width: 660px){
    .profile__editor {
        justify-self: start;
        margin-left: 10px;
        margin-top: 8px;
        width: 7px;
        height: 7px;
        padding: 5px;

    }
}